/* Animations and Utility Classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background: #172554;
    /* Dark blue border color */
    border-radius: 10px;
}

.hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

/* Animations */
.pop-anim {
    animation: pop 0.2s ease-out;
}

@keyframes pop {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Toast Animation */
.toast {
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translate(-50%, -20px);
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
}

/* Modal Transitions */
.modal-overlay {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.modal-overlay.active .modal-content {
    transform: scale(1);
}